* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover{
  text-decoration: none;
}
.h1-search{
  margin-top: 300px;
  color: red;
}